.header {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
}

.header .heading {
  width: 665px;
  height: 341px;
}

.header h1 {
  width: 467px;
  font-size: 45px;
  font-weight: bold;
  line-height: 124.5%;
  text-transform: capitalize;
  margin: 0;
}

.header p {
  font-size: 15px;
  font-weight: light;
  line-height: 183%;
  margin-top: 17px;
}

.header img {
  width: 232px;
  height: 341px;
}

@media only screen and (max-width: 768px) {
  .header {
    width: 545px;
    box-sizing: border-box;
  }

  .header .heading {
    width: 331px;
  }

  .header h1 {
    font-size: 30px;
    width: 331px;
    margin-top: 43px;
  }

  .header p {
    font-size: 12px;
  }

  .header img {
    width: 200px;
    height: 321px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    margin-top: 50px;
    width: 248px;
    box-sizing: border-box;
  }

  .header .heading {
    width: 156px;
  }

  .header h1 {
    font-size: 30px;
    width: 100%;
    margin-top: 23px;
  }

  .header p {
    display: none;
  }

  .header img {
    width: 200px;
    height: 300px;
  }
}
