:root {
  --purple: #6324eb;
  --pink: #de3fdd;
  --peach: #ef708e;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--purple);
  color: white;
  font-family: "Rubik", serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 1005px;
  margin: 0 auto;
}

.container::before {
  content: "";
  width: 696px;
  height: 696px;
  border-radius: 50%;
  background-color: var(--pink);
  opacity: 40%;
  position: absolute;
  top: -355px;
  left: -145px;
  z-index: -2;
}

.container::after {
  content: "";
  width: 696px;
  height: 696px;
  border-radius: 50%;
  background-color: var(--peach);
  opacity: 20%;
  position: absolute;
  top: 100px;
  right: -239px;
  z-index: -2;
}

.examples {
  list-style: none;
  display: flex;
  margin-left: 86px;
  margin-top: 127.5px;
}

.card {
  width: 100%;
  height: 393px;
  background-color: rgba(222, 63, 221, 0.4);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 845px;
}

.content img {
  width: 324px;
  height: 244px;
  z-index: 2;
}

.content p {
  margin: 0;
  width: 410px;
  margin-left: 100px;
}
