.examples button {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 155px;
  height: 54px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px white solid;
  margin-right: 15px;
}

.examples button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.examples button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 947px) {
  .examples button {
    width: 120px;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 13px;
    padding: 0;
    align-content: center;
  }
}

@media only screen and (max-width: 480px) {
  .examples button {
    width: 80px;
    height: 30px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    font-size: 9px;
    padding: 0;
    align-content: center;
  }
}
